.button{
    max-width: 180px;
    background-color: $orange;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 20px;
    text-align: center;
    &:hover{
        background-color: $orange-active;
    }
}//End of button