//Fonts

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../fonts/MuseoSans-700.woff2') format('woff2'),
        url('../fonts/MuseoSans-700.woff') format('woff'),
        url('../fonts/MuseoSans-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}//$font

@font-face {
    font-family: 'Museo Sans 900';
    src: url('../fonts/MuseoSans-900.woff2') format('woff2'),
        url('../fonts/MuseoSans-900.woff') format('woff'),
        url('../fonts/MuseoSans-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}//$font-bold

@font-face {
    font-family: 'Museo Sans 300';
    src: url('../fonts/MuseoSans-300.woff2') format('woff2'),
        url('../fonts/MuseoSans-300.woff') format('woff'),
        url('../fonts/MuseoSans-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}//$font-light