.footer{
    background: url("../images/footer_bg.png") no-repeat;
    background-size: cover;
    .footer-logo-copyR{
        border-top: 1px solid white;
        padding: 10px 0 55px 0;
        p{
            float: right;
            color: white;
            font-size: 13px;
            font-family: $font-light;
        }//End of p
    }//End of footer-logo-copyR
    .social-icons{
        display: flex;
        padding: 53px 0 45px 0;
        justify-content: space-between;
        .icon{
            background-color: white;
            display: inline-block;
            margin-right: 5px;
            min-height: 40px;
            min-width: 40px;
            border-radius: 50%;
            border: 1px solid white;
            position: relative;
            &:hover{
                background-color: transparent;
                filter: contrast(5);
                filter: brightness(5);
            }
            img{
                position: absolute;
                left: 25%;
                text-align: center;
                top: 50%;
                width: 50%;
                transform: translateY(-50%);
            }//End of img
        }//End of icon
        .button{
            float: right;
        }//End of button
    }//End of social-icons
    .footer-menu{
        padding-bottom: 65px;
        display: flex;
        font-family: $font;
        ul{
            color: white;
            padding-right: 65px;
        }
        li{
            font-size: 15px;
            padding-bottom: 15px;
            &:last-child{
                padding-bottom: 0;
            }
        }//End of li
        li>a:hover{
            text-decoration: underline;
        }
    }//End of footer-menu
}//End of footer