.heading{
    display: block;
    .navigation{
        padding: 12px 0;
        ul{
            transform: translateY(80%);
            float: right;
        }
        li{
            display: inline-block;
            padding-left: 24px;
            font-weight: bold;
            font-size: 15px;
            font-family: $font-bold;
        }
        .grey a{
            font-family: $font-light;
            color: $grey;
            font-weight: 300;
        }
    }//End of navigation
}//End of heading