.hero{
    background: url("../images/_background.png") no-repeat;
    background-size: cover;
    h1{
        color: white;
        font-family: $font-bold;
        font-size: 60px;
        padding: 115px 0 30px 0;
    }
    p{
        color: white;
        font-size: 22px;
        font-family: $font-light;
        padding-bottom: 50px;
    }
    .button{
        padding: 18px 22px;
        border-radius: 22px;
        max-width : 225px;
        display: block;
        margin-bottom: 130px;
    }//End of button
    .white-logo{
        padding-bottom: 30px;
    }//End of white-logo
}//End of hero