.section-1{
    text-align: center;
    padding-bottom: 100px;
    h1{
        color: $orange;
        font-family: $font-bold;
        font-size: 50px;
        padding: 60px 0;
    }
    .button{
        padding: 12px 55px;
    }
    .column{
        padding-bottom: 60px;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        .row{
            width: 33%;
            font-size: 20px;
            padding-right: 40px;
            &:last-child{
                padding-right: 0px;
            }
        }//End of row
        .blue-pic{
            padding-bottom: 15px;
        }//End of blue-pic
        .row-title{
            text-align: center;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $grey;
        }//End of row-title
        h4{
            color: $blue;
            font-family: $font-bold;
            padding-bottom: 20px;
            margin-bottom: 20px;
            float: right;
            transform: translateY(25%);
        }//End of h4
        span{
            width: 100%;
            font-size: 13px;
            color: $grey;
            border-bottom: 1px solid $grey;
            padding-bottom: 20px;
            display: inline-block;
        }//End of span
        .slimmer{
            border-bottom: none;
            padding-bottom: 5px;
        }//End of slimmer
        .circle{
            font-size: 13px;
            background-color: $blue;
            height: 0;
            width: 10%;
            border-radius: 50%;
            margin-right: 10px;
            position: relative;
            display: block;
            padding-bottom: 10%;
            .num{
                font-family: $font-bold;
                font-size: 15px;
                color: white;
                left: 0;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);

            }//End of num
        }//End of circle
        p{
            padding: 20px 11px;
            line-height: 1.7;
            font-size: 20px;
            color: $dark-grey;
            font-family: $font-light;
            border-bottom: 1px solid $grey;
            padding: 20px 0px;
            margin: 0 auto;
            &:nth-child(2){
                width: 84%;
            }
            &:last-child{
                border-bottom: none;
            }
        }//End of p
        .wide{
            width: 80%;
        }//End of wide
    }//End of column
}//End of section-1