.section-3{
    text-align: center;
    background-color: $light-grey;
    h1{
        padding: 62px 0 23px 0;
        margin-bottom: 43px;
        border-bottom: 1px solid $grey;
        font-size: 50px;
        color: $grey;
        font-family: $font-bold;
    }//End of h1
    h4{
        padding: 30px 0 20px 0;
        font-size: 20px;
        font-family: $font-bold;
        color: $green;
    }//End of h4
    p{
        font-size: 20px;
        font-family: $font-light;
        line-height: 1.4;
        width: 70%;
        margin: 0 auto;
        color: $dark-grey;
        padding-bottom: 55px;
    }//End of p
    .button{
        padding: 12px 30px;
        min-width: 205px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
        &:hover{
            filter: brightness(0.9);
        }
    }//End of button
    .blue{
        color: $blue;
    }
    .cols{
        display: flex;
        justify-content: space-between;
        padding: 100px 66px;
    }//End of cols
    .col{
        position: relative;
        background-color: white;
        flex-grow: 1;
        flex-basis: 0;
        padding-bottom: 65px;
        &:first-child{
            margin-right: 40px;
        }
        
        .button-b{
            background-color: $blue;
        }
        .button-g{
            background-color: $green;
        }
    }//End of col
    .circle{
        max-width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 5px solid white;
        margin: 0 auto 20px;
        &:hover{
            filter: brightness(0.9);
        }
        p{
            color: white;
            font-size: 15px;
            font-family: $font-light;
            line-height: 1;
        }//End of p
        span{
            color: white;
            font-size: 40px;
            font-family: $font-bold;
        }//End of span
    }//End of circle
    .circle-g{
        background-color: $green;
        box-shadow: 0 0 0 5px $green;
        p{
            transform: translateY(15%) translateX(-5%);
        }//End of p
    }//End of circle-g
    .circle-b{
        background-color: $blue;
        box-shadow: 0 0 0 5px $blue;
        p{
            transform: translateY(35%);
        }//End of p
    }//End of circle-b
}//End of section-3