.section-2{
    background: url("../images/doctorsbg.png") no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-bottom: 100px;
    .button{
        min-width: 186px;
        background-color: white;
        color: $green;
        padding: 15px 45px;
        &:hover{
            filter: contrast(0.6);
        }
    }//End of button
    h1{
        font-family: $font-bold;
        font-size: 50px;
        border-bottom: 1px solid $grey;
        padding: 60px 0 20px 0;
        margin-bottom: 40px;
    }//End of h1
    p{
        font-size: 20px;
        font-family: $font;
        width: 75%;
        line-height: 1.4;
        margin: 0 auto;
        padding-bottom: 40px;
    }//End of p
    .doctors{
        display: flex;
        padding-bottom: 65px;
        justify-content: center;
        .profile{
            padding-right: 40px;
            &:last-child{
                padding-right: 0;
            }
        }//End of profile
        img{
            padding-bottom: 15px;
        }
        p{
            width: 100%;
            padding-bottom: 0px;
            font-size: 15px;
            font-family: $font;
        }//End of p
    }//End of doctors
}//End of section-2