//fonts
$font-light :'Museo Sans 300';
$font :'Museo Sans 700';
$font-bold  :'Museo Sans 900';

//colors
$orange :#fdb22b;
$orange-active :#e3a027;
$grey :#acacac;
$light-grey: #f4f4f4;
$dark-grey :#808080;
$blue :#377de3;
$green :#2dc27a;